/*
========================================================================================
    Local execution configuration ========================================================================================
*/

process {
    executor = 'local'
    
    // Adjust resources for local execution
    withLabel: 'process_single' {
        cpus   = 1
        memory = 4.GB
    }
    
    withLabel: 'process_low' {
        cpus   = 2
        memory = 8.GB
    }
    
    withLabel: 'process_medium' {
        cpus   = 4
        memory = 16.GB
    }
    
    withLabel: 'process_high' {
        cpus   = 8
        memory = 32.GB
    }
    
    withLabel: 'process_very_high' {
        cpus   = 16
        memory = 64.GB
    }
}

executor {
    name = 'local'
    cpus = 16
    memory = '64 GB'
    queueSize = 5
}

